<%- include('partials/header.ejs') %> 
    <div class="container">
        <!-- style="max-width: 18rem;" -->
        <div class="card text-white bg-info mb-3 mt-3">
            <div class="card-body">
                <img class="card-img-top" src="https://myviewboard.com/blog/wp-content/uploads/2020/08/MP0027-01-scaled.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %> 
